{% extends '::base.html.twig' %}

{% block body -%}
    {% block title %} Blog list - {{ parent() }}{% endblock %}
    <h1>Post list</h1>

      {% for entity in entities %}
          <div class="blog-post">
              <h2 class="blog-post-title">
                  <a href="{{ path('_show', { 'id': entity.id }) }}">
                      {{ entity.title }}</a>


              </h2>
              <a href="{{ path('_edit', { 'id': entity.id }) }}">update</a>
              <p class="blog-post-meta">
                  {{ entity.created|date('d.m.Y') }}
                  {% if entity.published %}
                        <span class="glyphicon glyphicon-ok"></span>
                  {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                  {% endif %}

              </p>

              <p>{{ entity.description }}</p>

          </div><!-- /.blog-post -->
      {% endfor %}
    <nav>
        <ul class="pager">
            <li><a href=""></a>Previos</li>
            <li><a href=""></a>Next</li>

        </ul>
    </nav>

    {% endblock %}
